.task {
  height: 100%;
  padding: 6px;
}

.task__content {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.task__checkbox-section {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.task__control-section {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
}

.task__checkbox-label {
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
  user-select: none;
  word-break: break-all;
}

.task__text-input {
  width: 100%;
	box-sizing: border-box;
	padding: 2px;
	border: 1px solid rgb(170, 168, 168);;
	font-size: 16px;
}

.task__checkmark {
  display: block;
	height: 26px;
  width: 26px;
  margin-right: 15px;
	background-color: #eee;
  cursor: pointer;
  flex: 0 0 auto;
}

.task__checkbox-input {
	background-color: #fff;
	/* position: absolute; */
	display: none;
	cursor: pointer;
}

.task__checkmark:hover {
	background-color: #ccc;
}

.task__checkbox-input:checked ~ .task__checkmark {
	background-color: #2196F3;
}

.task__checkmark:after {
	content: "";
	display: none;
}

.task__checkbox-input:checked ~ .task__checkmark:after {
	display: block;
}

.task__checkbox-input:checked ~ .task__checkbox-label {
	text-decoration: line-through;
}

.task__checkmark:after {
  margin: 5px 0 0 9px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.task__edit-button {
	padding: 5px 6px;
	font-size: 16px;
	line-height: 0.8;
	color: #999;
	border: 1px solid transparent;
	cursor: pointer;
}

.task__delete-button {
	padding: 1px 4px;
	font-size: 30px;
	line-height: 0.8;
	color: #999;
	border: 1px solid transparent;
	cursor: pointer;
}

.task__delete-button:hover, .task__edit-button:hover {
	background-color: #eee;
	border-color: #ccc;
}