* {
	margin: 0;
	padding: 0;
}

::selection {
	background: transparent;
	text-shadow: #000 0 0 2px;
}

.subscribe-form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.subscribe-form__content {
	max-width: 500px;
	margin: 0 auto;
	padding: 30px 20px;
	border-bottom: 2px solid #333;
}

.subscribe-form__header {
	font-size: 20px;
	margin-right: 10px;
}

.subscribe-form__header_inline {
	display: inline;
}

.subscribe-form__form-action-data {
	font-weight: bold;
	background-color: #ededed;
}

.subscribe-form__form-action-data_inline {
	display: inline;
}

.subscribe-form__description {
	margin: 20px 0 25px;
}

.subscribe-form__input-section {
	margin-bottom: 25px;
}

.subscribe-form__input-label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	cursor: pointer;
}

.text-input {
	display: block;
	width: 100%;
	font-size: 16px;
}

.text-input::selection {
	background-color: #ccc;
}

.text-input_with-border-style {
	padding: 3px 5px;
	box-sizing: border-box;
	border: 1px solid #aaa;
}

.select-input {
	font-size: 16px;
	outline: none;
}

.select-input_with-border-style {
	padding: 2px;
	border-radius: 6px;
	box-sizing: border-box;
	border: 1px solid #aaa;
}

.select-input__option {
	padding: 2px 2px 2px 8px;
	box-sizing: border-box;
	border-radius: 6px;
}

.subscribe-form__radiobutton-container {
	padding: 7px;
	border: 1px solid #ccc;
}

.subscribe-form__input-row {
	display: flex;
	align-items: center;
	margin-bottom: 7px;
}

.radiobutton-input_hidden {
	display: none;
}

.subscribe-form__radiobutton-pointer {
	display: inline-block;
	position: relative;
	width: 10px;
	height: 10px;
	padding: 3px;
	border-radius: 50%;
	border: 1px solid #aaa;
	cursor: pointer;
}

.subscribe-form__radiobutton-pointer:hover {
	background-color: #eee;
}

.subscribe-form__radiobutton-pointer::before {
	content: '';
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;
	border-radius: inherit;
}

.radiobutton-input:checked + .subscribe-form__radiobutton-pointer::before {
	background-color: #346BD1;
}

.subscribe-form__radiobutton-label {
	width: 100%;
	margin: 0 5px 0 5px;
	padding: 3px 5px;
	font-size: 16px;
	box-sizing: border-box;
	border: 1px solid #aaa;
	cursor: pointer;
}
.subscribe-form__radiobutton-label:hover {
	background-color: #eee;
}

.subscribe-form__radiobutton-clear {
	align-self: center;
	padding: 1px 2px;
	font-size: 24px;
	line-height: 0.8;
	color: #999;
	border: 1px solid transparent;
	cursor: pointer;
}

.subscribe-form__radiobutton-clear:hover {
	background-color: #eee;
	border-color: #ccc;
}

.checkbox-input {
	display: none;
}
.checkbox-input:checked + .subscribe-form__checkbox-pointer {
	color: #346BD1;
}

.subscribe-form__checkbox-pointer {
	display: inline-block;
	width: 14px;
	height: 14px;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	text-align: center;
	color: transparent;
	border: 1px solid #aaa;
}

.submit-button {
	font-size: 14px;
	cursor: pointer;
	outline: none;
}

.submit-button_blue-style {
	padding: 8px 15px;
	background-color: #0085BA;
	color: #fff;
	border-radius: 4px;
	border: 1px solid #286b8a;
}

.submit-button_blue-style:hover {
	background-color: rgb(11, 154, 211);
	transition: 0.3s;
}

.submit-button_blue-style:active {
	background-color: rgb(3, 82, 114);
}