* {
	margin: 0;
	padding: 0;
}

.date-picker *, .date-picker *:before, .date-picker *:after {
	box-sizing: border-box;
}

.date-picker-input {
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	border: 1px solid rgb(170, 168, 168);;
	font-size: 20px;
}

.date-picker-container {
	width: 446px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: auto;
	position: relative;
}

.date-picker-wrapper {
	position: relative;
}

.date-picker {
	position: absolute;
	width: 444px;
	display: none;
	align-items: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
	z-index: 999;
}

.date-picker_visible {
	display: flex;
}

.date-picker_border-style {
	border-radius: 3px;
	border: 1px solid #aaa;
}

.date-picker__content {
	margin: 4px;
}

.date-picker__months {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	background-color: #eee;
	border-radius: inherit;
	border: 1px solid #ccc;
}

.date-picker__month-of-year-container {
	display: inline-block;
}

.date-picker__month-name {
	margin-right: 8px;
}

.date-picker__left-arrow, .date-picker__right-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #555;
	cursor: pointer;
}

.date-picker__left-arrow:hover, .date-picker__right-arrow:hover {
	background-color: #417BF1;
}

.date-picker__left-arrow {
	margin-left: 15px;
}

.date-picker__right-arrow {
	margin-right: 15px;
}

.date-picker__left-arrow:before, .date-picker__right-arrow:before {
	content: '';
	border-color: transparent;
	border-style: solid;
}

.date-picker__left-arrow:before {
	margin-left: -2px;
	border-width: 5px 5px 5px 0;
	border-right-color: #fff;
}

.date-picker__right-arrow:before {
	margin-right: -1.9px;
	border-width: 5px 0 5px 5px;
	border-left-color: #fff;
}

.date-picker__days-of-week {
	display: flex;
	margin: 10px 0;
	font-size: 24px;
	font-weight: bold;
}

.date-picker__day-of-week {
	width: 62px;
	text-align: center;
}

.date-picker__days-container {
	display: flex;
	flex-wrap: wrap;
}

.date-picker__day {
	width: 57px;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 4px 6px;
	text-align: right;
	font-size: 20px;
	border: 1px solid #ccc;
	background-color: #F6F6F6;
	cursor: pointer;
	user-select: none;
}

.date-picker__day_hidden {
	visibility: hidden;
}

.date-picker__day:nth-child(7n) {
	margin-right: 0;
}

.date-picker__day:hover {
	background-color: rgb(73, 117, 206);
	color: #fff;
}

.date-picker__day_current {
	background-color: rgb(150, 245, 87);
}